body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  text-decoration: none !important;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  margin: 0 !important;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
